@{
    Layout = "_Layout";
}

<div class="row gx-4 gx-lg-5 justify-content-center">
    <div class="col-md-10 col-lg-10 col-xl-8">
        <h2>About Hamco Internet Solutions</h2>
        <p>
            Founded with a passion for technology and innovation, Hamco Internet Solutions 
            provides comprehensive web development services to businesses and individuals.
        </p>
        
        <h3 class="mt-4">Our Mission</h3>
        <p>
            To deliver high-quality, scalable, and maintainable software solutions that 
            empower our clients to succeed in the digital world.
        </p>
        
        <h3 class="mt-4">Technologies We Use</h3>
        <ul>
            <li>.NET Core / ASP.NET Core</li>
            <li>Entity Framework Core</li>
            <li>PostgreSQL</li>
            <li>React & Modern JavaScript</li>
            <li>Docker & Cloud Deployment</li>
        </ul>
        
        <h3 class="mt-4">Get in Touch</h3>
        <p>
            Interested in working together? Check out our 
            <a href="https://github.com/hail2skins">GitHub</a> or connect on 
            <a href="https://www.linkedin.com/in/art-mills-2415a33/">LinkedIn</a>.
        </p>
    </div>
</div>
